@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto')
// @import "materialize"
@import "pages"
*
  box-sizing: border-box
#navBar
  img
    @media (min-width: 768px)
    padding-left: 20px
    width: 150px
    z-index: 10
    position: fixed
    top: 5px
  nav
    background: rgba(0, 0, 0, 0.8)
    z-index: 1
    position: fixed
    top: 10px
    width: 100%
    // height: 40px
    color: white
    padding-left: 0
    #nav-bar-options
      height: 40px
      margin-left: 200px
      display: table
      .nav-bar-option
        color: white
        display: table-cell
        vertical-align: middle
        font-family: 'Oswald'
        .nav-bar-link
          color: white
          text-decoration: none
    #user-options
      height: 40px
      display: table
      position: absolute
      right: 40px
      #user-signed-in
        color: rgba(244, 110, 66, 1)
        display: table-cell
        vertical-align: middle
      .nav-bar-option
        color: white
        display: table-cell
        vertical-align: middle
      a
        color: white
        text-decoration: none
      h5
        font-size: 10px
    h5
      font-size: 15px
      display: inline
      padding: 10px
