<%= javascript_include_tag "products_index" %>
<%= render "layouts/header" %>
<span id="products_index_page">
  <div class="top-space"></div>
    <div id="search-field-container">
      <input type="search" placeholder="&nbsp; Buscar..." id="search-field"/>
    </div>
    <div class="flex-container">
    <% @products.each do |prod| %>
    <div class="prod-container">
        <%= image_tag(asset_path(prod.image1.to_s), :class => "shrink pic prod-img ")%>
        <h4>
            <%= prod.name.capitalize%>
        </h4>
    </div>
    <%end %>
  </div>

</span>
